.vs/
*.meta
*.prefab
*.png
*.csv
Library/
OpenOfficeCalcFiles/
ProjectSettings/
Temp/
*.unity
Zan.sln
Zan.csproj
UnityPackageManager/manifest.json
参考資料/ざっくり仕様.jpg
Assets/Resources/
.collabignore
Assets/Game/Enemy/slimeMove.cs
Assets/Game/Enemy/orkMove.cs
Assets/Game/Enemy/goblinMove.cs
Assets/Game/Enemy/enemyMove_sisaku.cs
Assets/Scene_Home/HomeMain.cs
Assets/Scene_Home/
/Assets/etc/AttackTest/AttacckTest.cs
/Assets/etc/AttackTest/AttackScript.cs
/Assets/etc/AttackTest/AttackTrigger.cs
/Assets/Scene_Title/standby.cs
/Assets/Scene_Title/scenechange.cs
*.jpg
*.wav
*.txt
*.json
Assets/Save.cs
Zan.Editor.csproj
*.apk
*.anim
*.controller
*.mp3
Assets/etc/AttackTest/Attack_Special.cs
